*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}

:root{
--verde: #1B8D73;
--font1: 'Poppins', sem serifa;
--font2: 'Inter', sem serifa;
--branco: white;

}
header{
    /* width: 1400px; */
background-color: var(--verde);

} 


.header_acessos{
    width: 1400px; 
    margin: 0 auto;
    display: flex;
    align-items:center;
    height: 80px;


}
.header_acessos nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    font-family:var(--font1) ;
    color:var(--branco);
    font-weight: 700;

}  

.header_acessos a{
    color: var(--branco);
    text-decoration:none;
    text-transform: uppercase;
}
.botao{
    border: solid 2px var(--branco);
    padding: 5px 30px;
    border-radius: 30%;
}
.banner{
    background-image: url(./img/Banner1.png);
    height: 850px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bann1{
    width: 200px;
    height: 200px;
}
.conteudocomfoto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    height: 500px;
    margin-top: 50px;
    
    

}
.textobanner{
    
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 500px;

}
.textobanner h2{
  font-family: var(--font1);
  font-size: 30px;
  color: var(--branco);
    

}
.textobanner p{
    font-family: var(--font2);
    font-size: 23px;
    margin-top: 70px;
    width: 80%;
    color: var(--branco);
}
.conteudocomfoto img{
    width:45%;
    height: 90%;
   
    

}
.plano_fundo{
    width: 500px;
    height: 400px;

}
.bann1{
    width: 170; 
    height: 170px;
    
}
.fotodadireita{
    display: flex;
    
}

.plano_fundo{
    background-image: url(./img/Banner2.png);
    width: 100%;
    height: 870px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
.contaner_geral{
    display: flex;
    justify-content:space-between;
    display: flex;
    justify-content: space-between;
    width: 80%;

    
    
}
.missao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: var(--font1);

}
.missao h2{
    padding-top: 20px;
    font-family: var(--font1);
    font-size: 20px;
}
.missao p{
    display: flex;
    padding-top:20px;
    width: 50%;
      

}
.visao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: var(--font1);

}
.visao p{
    display: flex;
}
.valores{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: var(--font1);

}
.valores p{
    display: flex;
}
